* {
  margin: 0;
  padding: 0;
  }
  
  #main ul {
    list-style: none;
  }
  
  #main ul li {
    background-color: green;
    width: 200px;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    color: white;
    font-size: 20px;
  }
  
  #main ul li:hover {
    background-color: rosybrown;
  }
  
  #main ul ul {
    display: none;
}

#main ul li:hover>ul {
  display: block;
}

